[submodule "AnIRC"]
	path = AnIRC
	url = https://github.com/AndrioCelos/AnIRC.git
[submodule "References/RandomOrgJson-RPC"]
	path = References/RandomOrgJson-RPC
	url = https://github.com/AndrioCelos/RandomOrgJson-RPC
